<?xml version="1.0"?>
<!-- 
    Nota: en lugar de editar manualmente este archivo puede usar la 
    herramienta Administración de sitios web para configurar las opciones de su aplicación. Use
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, ubicado normalmente en 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="obrasConnectionString" connectionString="Data Source=ARQUING-PC1\ARQUING;Initial Catalog=proyecto_obras;User ID=sa;Password=admin123" providerName="System.Data.SqlClient"/>
    <add name="proyecto_obrasConnectionString" connectionString="Data Source=25.139.106.85\ARQUING;Initial Catalog=proyecto_obras;User ID=sa;Password=admin123" providerName="System.Data.SqlClient"/>
    <!--<add name="proyecto_obrasConnectionString" connectionString="Data Source=192.168.1.14\ARQUING;Initial Catalog=proyecto_obras;User ID=sa;Password=admin123" providerName="System.Data.SqlClient"/>-->
    
    
    <add name="obrasLocalConnectionString" connectionString="Data Source=ARQUING-PC1\ARQUING;Initial Catalog=proyecto_obras;User ID=sa;Password=admin123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
      Establezca compilation debug="true" para insertar símbolos 
      de depuración en la página compilada. Puesto que esto 
      afecta al rendimiento, establezca este valor en true solo 
      durante el desarrollo.
    -->
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
    -->
    <authentication mode="Windows"/>
    <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0.  No es necesaria para la versión anterior de IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>